
body{
    font-family: 'Lato', sans-serif;
    background-color:#666C78;  
}
header{
    padding: 0;
    margin:0;
    background-color: #242832;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}

li{
    list-style: none;
}



.logo-principal{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.perfil-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-right: 3px;
    
}
.notificacion, .corazon{
    display: none;
}

/* icono menu */ 
.circle{
    margin-left: 3px;
    margin-top: 3%;
    position: relative;
    border: solid 2px #d2cfcfed;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #242832;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,2);
    cursor:pointer;
}

.menu-icon {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    width: 10px; 
    height: 10px;
}


.line {
    height: 2px; 
    background-color: #d2cfcfed; 
    border-radius: 2px; 
    transition: all 0.3s;
}




/*icono perfil*/
.perfil{
    margin-top: 3%;
    width: 26px;
    height: 26px;
    margin-right: 1%;
}

/*icon pagina*/
.iconoPrincipal{
    margin-top: 3%;
    width: 26px;
    height: 26px;
}

/*login*/
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-box {
    background-color: #242832; /* Fondo gris (neutro+2) */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ocupa todo el ancho disponible del contenedor */
    max-width: 300px;
    text-align: center;
}
.logo {
    width: 100px; 
    height: auto; /* Asegura que la altura se ajuste proporcionalmente */
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
    color: #fff;
}

.social-login {
    display: flex;
    justify-content: center; /* Centrar los iconos horizontalmente */
    gap: 20px; /* Espacio uniforme entre los iconos */
    margin-bottom: 10px;
}
.social-btn {
    width: 50px;  /* Ancho uniforme para todos los botones */
    height: 50px; /* Altura uniforme para todos los botones */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    display: flex; /* Flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}
/* Estilo de cada red social */
.facebook {
    background-color: #267CEC;
}

.google {
    background-color: #fff;
}

.discord {
    background-color: #7289da;
}

/* Asegurando que los iconos dentro de los botones tengan el mismo tamaño */
.social-btn img {
    max-height: 30px; /* Tamaño máximo de altura para los iconos */
    max-width: 30px;  /* Tamaño máximo de ancho para los iconos */
}

.social-btn i {
    font-size: 30px; /* Asegura que los iconos de FontAwesome tengan el mismo tamaño */
}
/* Ajuste específico para el logo de Discord */
.discord img {
    max-height: 30px; /* Ajusta la altura del logo de Discord */
    max-width: 30px;  /* Ajusta el ancho del logo de Discord */
}
/* Línea divisoria blanca */
.divider {
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
}

/* Etiquetas para los inputs */
.input-label {
    font-family: 'Lato', sans-serif;
    color: #fff; 
    font-size: 12px;
    text-align: left; /* Alinear a la izquierda */
    margin-bottom: 5px; /* Espacio entre etiqueta e input */
}

/* Inputs */
input {
    padding: 6px; 
    margin-bottom: 6px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #7EEB00; /* Color primario */
    box-shadow: 0 0 8px rgba(126, 235, 0, 0.5);
}
/* Estilo para "¿Se te olvidó tu contraseña?" */
.forgot-password {
    font-family: 'Lato', sans-serif;
    font-size: 12px; 
    color: #fff;
    text-align: right;
    margin-bottom: 10px; 
}
/* Estilo del botón de inicio de sesión */
.login-btn {
    background-color: #fff; /* Botón de iniciar sesión blanco */
    color: #242832; /* Texto en gris (neutro + 2) */
    padding: 8px; 
    border: none;
    border-radius: 25px; /* Bordes redondeados */
    font-size: 14px; 
    cursor: pointer;
    font-weight: bold;
    width: 130px; /* Mismo tamaño que el botón de REGÍSTRATE */
    margin: 0 auto 10px; /* Centrado y con margen inferior */
}
.login-btn:hover {
    background-color: #e0e0e0;
}
/* Sección de registro */
.register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
/* Texto de la pregunta con fuente Lato */
.register-text {
    font-family: 'Lato', sans-serif;
    color: #fff; 
    font-size: 12px; 
    margin-bottom: 5px; 
}
.register-btn {
    background-color: #7EEB00; /* Botón de registrarse color primario */
    color: #242832;
    padding: 8px; 
    border: none;
    border-radius: 25px; /* Bordes redondeados */
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    width: 120px;
    margin: 0 auto 10px; /* Centrado y con margen inferior */
}
.register-btn:hover {
    background-color: #69c500; /* Color primario al pasar el ratón */
}
/* Estilo para la animación de éxito */
.success-animation {
    background-color: #FF700F; /* Color de fondo acento */
    transition: background-color 0.5s ease; /* Transición suave */
    animation: pulse 1s infinite; /* Efecto de pulso */
}

/* Animación de pulso */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05); /* Escala el botón al 105% */
    }
    100% {
        transform: scale(1);
    }
}

.terms-text {
    color: #fff;
    font-size: 10px; 
    margin: 5px 0; 
}

.terms-highlight {
    color: #7EEB00; /* Color primario para los términos y políticas */
}


/* Estilos para la notificación de éxito */
.success-notification {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    background-color: #4caf50;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Mostrar la notificación de éxito con animación */
.success-notification.show {
    display: block;
    opacity: 1;
}


/*ul specials*/
ul.specials{
    height: 230px;
    width: 94%;
    display: flex;
    flex-direction: row;
    column-gap: 13px;
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
    margin-bottom: 40px;
    margin-left: 1%;
    padding-left: 0px;
}
section.recommended a{
    margin: 0;
    padding: 0;
    width: inherit;
}


/*card recommended*/

.card-recommended{
    background-color: #242832;
    height: 230px;
    width: 380px;
    border-radius: 15px;
    margin-left: 7.2%;
}
.game-recommended{
    display: none;
}

.recommended-card-img{
    position: absolute;
    padding-left: 5%;
    padding-top: 5%;
}
.recommended-card-img img{
    position: absolute;
    border-radius: 10px 10px 10px 10px;
    width: 348px;
    height: 200px;
    object-fit: cover; /* para que no se deforme la imagen*/
    left: 17px;
    top: 15px;
}

.btn-jugar-recommended{
    column-gap: 15px;
    width: 80px;
    height: 28px;
    display: flex;
    align-items: center;
    background-color: #4cd02a ; /* Fondo semi-transparente para destacar la etiqueta */
    position: relative;
    top: 185px;
    left:58%;
    z-index: 10;
    border-radius: 30px;
    border:0 ;

}
.btn-jugar-recommended img{
    width: 17px;
    height: 17px;
}
.btn-jugar-recommended p{
    position: relative;
    top: -1px;
    left: 7px;
    font-size: 14px;
}
.btn-miLista-recommended{
    column-gap: 6px;
    width: 80px;
    height: 28px;
    display: flex;
    align-items: center;
    background-color: #DCFA00 ; /* Fondo semi-transparente para destacar la etiqueta */
    position: relative;
    top:157px;
    left:25%;
    z-index: 10;
    border-radius: 30px;
    font-size: 14px;
    border: 0;
}



/*seccion de categoria  */
section.category{

}

/*titulo de la categoria*/
.name-category{
    position: relative;
    display: flex;
    width: 100%;
    font-size: 18px;
    font-family: lato;
    padding-left:0 ;
    margin-bottom: -5px;
    
}
.see-more{
    display: none;
}

/*el carrucel */
.category{
color: #D2CFCF;
position: relative;
margin-bottom: 40;
}

ul.carrusel{

    height: 160px;
    width: 90%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
    padding-bottom: 0px;
    margin-left: 4%;
    padding-left: 0px;
    margin-bottom: 0;
}

li.game-card{    
    list-style: none;
    flex-shrink: 0;
    
}
/*card*/
.game-card{
    height: 150px;
    width: 170px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 18px;
}
.game-card:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in;
}

.game-card-img {
    height: 90px;
    
}
.game-card-img  img{
    position: absolute;
    border-radius: 10px 10px 0px 0px;
    width: 170px;
    height: 90px;
    object-fit: cover; /* para que no se deforme la imagen*/
}
.game-card-info{
    height: 65px;
    background-color: #242832;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    width: 170px;
    position: absolute;
    

}
.game-card-info-premium{
    height: 65px;
    background-color: #242832;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    width: 170px;
    position: absolute;
}
.etiqueta-premium{
    width: 46px;
    height: 19px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para destacar la etiqueta */
    position: absolute;
    top: 80px;
    left: 115px;
    z-index: 10;

}

.title-etiqueta{
    color: white;
    margin-left: 8px;
    font-size: 12px;
    position: absolute;
    left: 23px;
    top: -90%;
    transform: translate(-50%);
    z-index:15;
}
.icono-premium{
    position: relative;

}
.icono-premium img{
    width: 70px;
    height: auto;
    object-fit: contain;

}
.title-card{
    font-size: 14px;
    margin: 0px;
    color: white;
    padding-top: 0px;
    white-space: nowrap; /* Impide que el texto se divida en varias líneas */
        overflow: hidden;    /* Oculta el texto que desborda el contenedor */
        text-overflow: ellipsis; /* Añade "..." al final del texto que no cabe */
}
.category-card{
    font-size: 12px;
    margin: 0px;
    color: white;
    opacity: 0.7;
}

.text-card{
    
    display: flex;             /* Flexbox para alinear el título y la categoría */
    flex-direction: column;    /* Si quieres que los textos estén uno debajo del otro */
    gap: 4px;  /*es el empacio entre en un elemento y otro pero aun  no se aplico*/
    padding-left: 9px;
    padding-bottom:16px ;
}








a{
    text-decoration: none; /*saca la linea*/
    color: inherit;
}

/*botones*/
.btn-jugar {
    background-color: transparent;
    height: 44px;
    width: 44px;
    border: 0px;

    margin-top: 8px;
    margin-left: 34px;
}
.btn-jugar img{
    height: 44px;
    width: 44px;
}
.btn-jugar .play {
   /* Espaciado entre la imagen y el texto */
}

.btn-right-recommended, .btn-left-recommended{
    background-color: transparent;
    border: 0;
}
.btn-right-recommended img, .btn-left-recommended img{
    height: 35px;
    width: 35px;
}
.btn-left-recommended{
    position: absolute;
    top: 165px;
    left: 3%;
    z-index: 3;
}
.btn-right-recommended{
    position: absolute;
    top: 165px;
    right: 3%;
    z-index: 3;
}
button.btn-left{
    margin: 0%;
    border: 0px;
}

.btn-left, .btn-right{
    background-color: transparent;
    display: none;
    border: 0px;

}

.btn-left-mobile, .btn-right-mobile{
    width: 25px;
    height: 25px;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: 0px;

}
.btns-mobile{
    width: 100%;
    height: 25px;
    margin-bottom: 30px;
    margin-top: 0;
    padding-top: 0;
}
.btn-left-mobile img, .btn-right-mobile img{
    width: 25px;
    height: 25px;
} 

.btn-left-mobile{
    left: 40%;
}


.btn-right-mobile{
    right: 40%;
}



@media only screen and (min-width: 1024px) {
    
    header{
        height: 70px;
        margin-bottom: 0px;
        position:sticky;
        top:0%;
        z-index: 15;
        width: 100%;
    }

    /*menu hamburguesa*/
    .circle{
        height: 46px;
        width: 46px;
        margin-top: 8px;
        position: relative;
        border: solid 3px #D2CFCF;
    }

    .menu-icon {
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        width: 18px; 
        height: 15px;
    }

    .line {
        height: 3px; 
        background-color: #D2CFCF; 
        border-radius: 0px; 
        transition: all 0.3s;
    }

    /*perfil*/
    .icons {
        display: flex; /* Usar flexbox para alinear los iconos a la derecha */
    }
    .notificacion, .corazon{
        display: block;
    }
    
    .perfil, .perfil-img, .notificacion-img, .corazon-img{
        margin-top: 8px;
        width: 55px;
        height: 55px;
    }
    .perfil, .notificacion, .corazon {
        margin-top: 8px;
        margin-left: 10px; /* Espacio entre iconos, ajusta según sea necesario */
    }
    /*logo*/
    .iconoPrincipal{
        margin-top: 8px;
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center; /* Alinear el logo verticalmente con el menú */
        flex-grow: 1; /* Para que el logo ocupe el espacio disponible */
        text-align: center; /* Centrar el logo */
    }
    /*4enLinea*/
    .body-4enLinea{
        background-color: #1e1e2f;
        color: white;
    }
    .inicio-4enLinea-blanco{
        color: white;
        font-size: 13px;
        margin-left: 98px; /* Espacio entre texto y iconos */
    }
    .videojuego-4enLinea-verde{
        color: #7EEB00;
    }
    .game-4enLinea-header{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin: 0 auto;
        width: 1144px;
        height: 50px;
        background-color: #666C78; /* Gris de fondo */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0px;
    }
    .logo-4enLinea, .game-title-4enLinea{
        font-size: 24px;
        font-weight: bold;
    }
    .icons-4enLinea-header{
        display: flex;
        margin-right: 10px;
        gap: 10px; /* Espacio entre iconos */
    }
    .nav-icon-4enLinea-header{
        width: 24px; /* Ajusta el tamaño de los iconos */
        height: auto;
    }
    .title-container-4enLinea{
        text-align: left;
        flex: 1; /* Para centrar el título en el header */
        margin: 10px;
    }
    .banner-4enLinea{
        width: 1144px;
        margin: 0 auto;
    }
    .banner-4enLinea-image{
        width: 1144px;
        height: 720px;
        display:block;
    }
    .footer-4enLinea{
        margin: 0 auto;
        width: 1144px;
        height: 50px;
        background-color: #666C78; /* Gris de fondo */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0px;
    }
    .footer-4enLinea-left{
        display: flex;
        align-items: center;
    }
    .logo-4enLinea{
        height: auto;
        margin-right: 10px; /* Espacio entre logo y título */
        margin-left: 10px;
    }
    .title-4enLinea-footer{
        font-size: 18px;
    }
    .footer-4enLinea-icons{
        display: flex;
        gap: 10px; /* Espacio entre iconos */
        margin-right: 10px;
    }
    .footer-icon-4enLinea{
        width: 24px; /* Ajusta el tamaño de los iconos */
        height: auto;
    }
    .description-game-4enlinea{
        background-color:#3a3a4a;
        text-align: left;
        margin: 0 auto; /* Centrar descripción */ 
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 1144px;
        height: 150px;
        background-color:#3a3a4a; /* Gris de fondo */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0px;
    }
    .left-description-4enLinea{
        margin-left: 10px;
        display: block;
        align-items: center;
    }
    
    .imagen-4enLinea-ejemplo{
        margin-right: 10px;
    }
    .titulo-4enLinea-indicaciones{
        font-size: 15px;
        color: white;
    }
    .description-4enLinea-parrafo{
        font-size: 16px;
        margin-top: 10px;
        max-width: 400px;
    }
    .multimedia-4enLinea-item{
        width: 270px;
        height: 205px;
             
    }
    .multimedia-4enLinea {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 100px;   
    }
    
    .multimedia-4enLinea-wrapper {
        text-align: left;              /* Alinea el contenido del wrapper a la izquierda */
    }
    
    .title-4enLinea-multimedia {
        margin-bottom: 20px;           /* Espacio entre el título y las imágenes */
    }
    
    .multimedia-4enLinea-container {
        display: flex;
        justify-content: center;       /* Centra las imágenes dentro del contenedor */
        flex-wrap: wrap;               /* Ajusta las imágenes si es necesario */
        gap: 20px;                     /* Espacio entre las imágenes */
    }
    .comentarios-4enLinea {  
        background-color: #43464C;       /* Fondo de la sección comentarios */
        color: white;                    /* Color de letra blanco por defecto */
        width: 1144px;                   /* Ancho del contenedor */
        height: 853px;                   /* Alto del contenedor */
        margin: 0 auto;                          /* Centrar horizontalmente */
        display: flex;                           /* Usar flexbox para el contenedor principal */
        flex-direction: column;                  /* Alinear los elementos en columna */
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    
    .footer-comentarios-4enLinea {
        background-color: #242832;       /* Fondo de la sección footer */
        height: 20px;                    /* Ajusta la altura según sea necesario */
        width: 1144px;                   /* Ancho del footer */
    }
    
    .nuevoComentario {
        background-color: #666C78;       /* Fondo de nuevo comentario */
        color: white;                    /* Color de texto blanco */
        padding: 10px;
        border-radius: 5px;              /* Bordes redondeados */
        margin-bottom: 10px;             /* Espacio con el siguiente comentario */
        width: 890px;
        height: 220;
    }
    
    .redirigir-4enLinea {
        color: #666C78;                  /* Color de texto */
        text-align: center;              /* Centrar el texto */
        margin-top: 20px;                /* Espaciado superior */
    }
    
    .title-comentarios-4enLinea h2 {
        margin-top: 20px;
        margin-left: 5px;
        padding-bottom: 10px;            /* Espaciado inferior del título */
        font-size: 15px;                 /* Tamaño de letra para el título */
    }
    
    .iconoComentario4enLinea {
        float: left;                     /* Alinea los iconos de usuario a la izquierda */
        margin-right: 10px;              /* Añade un margen a la derecha de 10px */
    }
    
    .comentarioAnterior4enLinea {
        overflow: hidden;                /* Para asegurarse de que el contenido se mantenga alineado con el icono */
        width: 358px;                    /* Ancho del contenedor de comentario anterior */
        height: 44px;                    /* Alto del contenedor de comentario anterior */
        font-size: 14px;                 /* Tamaño de letra para comentarios */
        color: white;                    /* Color de texto */
    }
    
    .comentario-4enLinea-item {
        width: 50px;                     /* Tamaño del icono del usuario */
        height: 50px;
    }
    
    .botones-derecha-comentarios-4enLinea {
        display: flex;
        gap: 10px;                       /* Espacio entre los botones */
        justify-content: flex-end;       /* Coloca los botones a la derecha */
        margin-top: 10px;
    }
    
    .cancelarComentario {
        background-color: #DEDBDB;       /* Fondo del botón Cancelar */
        color: black;                    /* Color del texto del botón Cancelar */
        border-radius: 30px;             /* Bordes redondeados */
        width: 113px;
        height: 31px;
        border: none;                    /* Sin bordes externos */
    }
    
    .enviarComentario {
        background-color: #DCFA00;       /* Fondo del botón Enviar */
        color: black;                    /* Color del texto del botón Enviar */
        border-radius: 30px;             /* Bordes redondeados */
        width: 113px;
        height: 31px;
        border: none;                    /* Sin bordes externos */
    }
    
    .usuario-4enLinea {
        display: block;                  /* Asegura que el nombre de usuario esté en una nueva línea */
        color: white;
        font-weight: bold;
    }
    
    .usuario-comentario-4enLinea {
        display: block;                  /* El comentario también aparece en una nueva línea */
        color: white;
        margin-top: 5px;                /* Espaciado con el nombre de usuario */
    }
    
    .perdido-4enLinea {
        color: #666C78;                  /* Color de texto */
    }
    
    .redirigir-foro-4enLinea {
        color: #666C78;                  /* Color de texto del enlace */
        text-decoration: none;           /* Quita el subrayado del enlace */
    }
    
    .nuevoComentario4enLinea, 
    .comentario1-4enLinea, 
    .comentario2-4enLinea, 
    .comentario3-4enLinea, 
    .comentario4-4enLinea {
        margin-bottom: 20px;             /* Espaciado entre los comentarios */
    }
    .comentario-4enLinea-linea{
        width: 153px;

    }
    .footer-comentarios-4enLinea{
        margin: 0 auto;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    section.recommended{
        margin-top: 30px;
        margin-bottom: 0;
        position: relative;
    
    }
    ul.specials{
        display: flex;
        margin: 0;
        padding: 0;
        padding-left: 20%;
        width: 60%;
        height: 500px;
        transition: transform 0.5s ease-in-out;
        overflow: hidden;
        flex-wrap: nowrap; /* No permite que las tarjetas se muevan a una nueva línea */
        column-gap: 33%;
        scroll-behavior: smooth;
        position: relative;
    }

    
    .recommended-card{
        flex: 0 0 100%; /* Cada tarjeta ocupará todo el ancho del contenedor */
        height: 500px;
        padding-left: 0;
        margin-left: 0px;
        margin-left: 0%;
        position: relative;
        justify-content: flex-start; 
        align-items: flex-start;
        
    }
    
    .card-recommended{
        flex-direction: column;
        position: relative;
        height: 500px;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .recommended-card-img{
        height: 350px;
        width: 65%;
        margin-left: 10px;
        margin-top: 10px;
    }

    .recommended-card-img img{
        width: 100%;      
        height: 450px;    
        object-fit: cover;
        border-radius: 10px 0px 0px 10px;
    }

    .btn-jugar-recommended{
        position: relative;
        top:260px;
        left:78%;
        width: 17%;
        height: 56px;
        font-size: 18px;

    }
    .btn-jugar-recommended p{
        font-size: 18px;
        padding-left: 15%;
    }
    .btn-jugar-recommended img{
        width: 27px;
        height: 27px;
        padding-left: 5%;
    }

    .btn-miLista-recommended{
        top: 290px;
        left:78%;
        width: 17%;
        height: 56px;
        font-size: 18px;
    }
    .btn-miLista-recommended p{
        padding-left: 16%;
    }
    .game-recommended{
        position: relative;
        left: 80%;
        top:70px;
        white-space: nowrap; /* Impide que el texto se divida en varias líneas */
        overflow: hidden;    /* Oculta el texto que desborda el contenedor */
        text-overflow: ellipsis; /* Añade "..." al final del texto que no cabe */
        display: block;
    }

    .btn-right-recommended, .btn-left-recommended{
        width: 64px;
        height: 64px;
    }
    .btn-right-recommended img, .btn-left-recommended img{
        width: inherit;
        height: inherit;
    }

    .btn-right-recommended{
        top: 50%; /* Centrado verticalmente */
        transform: translateY(-50%); /* Asegura que esté centrado */
        right: 10%; /* Ajusta la distancia del borde derecho de la pantalla */
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 10; /* Asegúrate de que esté por encima del contenido */
    }
    .btn-left-recommended{  
        top: 50%; /* Centrado verticalmente */
        transform: translateY(-50%); /* Asegura que esté centrado */
        left: 10%; /* Ajusta la distancia del borde izquierdo de la pantalla */
        background-color: transparent;
        border: none; /* Elimina el borde si no lo necesitas */
        cursor: pointer;
        z-index: 10; /* Asegúrate de que esté por encima del contenido */
    }

    h2.name-category{
        padding-left: 60px;
        bottom: -50px;

    }
    .btn-left, .btn-right{
        display: block;
        position: relative;
    }
    .btn-left{
        top: 120px;
    }
    
    .btn-right{
        top: -162px;
        left: 94.5%;
    }

    .btn-left-mobile, .btn-right-mobile{
        display: none;
    }
    ul.carrusel{
        height: 205px;
        width: 90%;
    }
    section.category{
        margin-bottom: -130px ;
    }
    .game-card{
        height: 205px;
        width: 225px;
    }

    .game-card-info{
        height: 86px;
        background-color: #242832;
        display: flex;
        align-items: center;
        border-radius: 0px 0px 10px 10px;
        width: 230px;
        position: absolute;
        
    
    }
    .game-card-img {
        height: 119px;
        width: 230px;
        
    }
    .game-card-img img{
        width: 230px;
        height: 119px;
    }
    .game-card-info-premium{
        height: 86px;
        background-color: #242832;
        display: flex;
        align-items: center;
        border-radius: 0px 0px 10px 10px;
        width: 230px;
        position: absolute;
    }
    .etiqueta-premium{
        top:110px;
        left: 173px;
        width: 68;
        height: 19px;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para destacar la etiqueta */
    }
    .icono-premium img{
        width: 80px;
        height: auto;
    
    }

    .title-etiqueta{
        color: white;
        margin-left: 8px;
        font-size: 14px;
        position: absolute;
        left: 28px;
        top: -110%;
        transform: translate(-50%);
    }

    .see-more{
        display: block;
        position: relative;
        top: 70px;
        right: 6%;
        font-size: 8px;
        width: 50px;
        height: 17px;
        border-radius: 20px;
        border: none;
        background-color: #DCFA00;
    }

}
