body{
    font-family: 'Lato', sans-serif;
    background-color:#1A1923;  
}
header{
    margin-top: 0px;
    background-color: #242832;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}
.logo{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.perfil-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* icono menu */ 
.circle{
    margin-top: 3%;
    position: relative;
    border: solid 2px #D2CFCF;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #242832;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,2);
    cursor:pointer;
}

.menu-icon {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    width: 10px; 
    height: 10px;
}


.line {
    height: 2px; 
    background-color: #D2CFCF; 
    border-radius: 2px; 
    transition: all 0.3s;
}
.circle:hover .line {
    background-color: #ff6347; 
}




/*icono perfil*/
.perfil{
    margin-top: 3%;
    width: 26px;
    height: 26px;
}


/*icon pagina*/
.iconoPrincipal{
    margin-top: 3%;
    width: 26px;
    height: 26px;
}
.categoria{
color: #D2CFCF;
}
.game-card-img img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
.game-card a{
    text-decoration: none;
    color:#D2CFCF
}
.btn-jugar {
    background-color: #4CD02A; 
    border: 2px solid black; 
    border-radius: 25px; 
    width: 145px; 
    height: 56px; 
    box-shadow: 0 4px 8px rgba(82, 74, 74, 0.5); 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 16px; 
    color: black; 
    text-align: center; 
}
.btn-jugar .play {
    margin-left: 10px; /* Espaciado entre la imagen y el texto */
}