.canvas{
    display: none;
    background-color: #666C78;
  }
  .menusGame{
    right: 10px;
    top:20px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 180px;
    height: 40px;
    margin-right: 10px;
  }
  .menusGame #restartGame,.menusGame #menuGame{
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 80px;
    background-color: #7867bd;
    cursor:pointer;
    justify-content: center;
  }
  #tiempo{
    position: absolute;
    top: 150px;
    left: 47.8%;
    color: #ffffff;
    margin-left: 10px;
    width: 1px;
    z-index: 20;
  }
  .canvas-form{
    display: none;
    height: 543px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    background-image: './img/fianalBorronedooo.jpg';
  }
  .player{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .inputCanvas{
    height: 30px;
    width: 200px;
    border-radius: 10px;
    padding-left: 10px;
    color: #0B0C12;
    cursor: text;
  }
  .canvas-form {
      position: relative;
      left: -2%;
  }
  .token{
    cursor: pointer;
  }
  .token:hover{
    scale: 1.1;
    transition: 0.5s;
  }
  .titles-canvas{
    display: flex;
    position: absolute;
    margin-left: 10%;
    width: 80%;
    bottom: 20%;
    justify-content: space-between;
  }
  .namePlayer1,.namePlayer2{
    color: #0B0C12;  
  }
  #turno{
    margin-bottom: 10px;
    position: absolute;
    bottom: 20%;
    width: 100%;
    text-align: center;
  }
  #ganador{
    display:none;
    margin-bottom: 10px;
    position: absolute;
    bottom: 20%;
    width: 100%;
    text-align: center;
    color: #377041;
  }
  .canvas .menuCantLinea{
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 70px;
    gap: 20px;
    margin-left: 10px;
    width: 240px;
  }
  .canvas .menuCantLinea .btn-x-inLine{
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
  }
.canvas .cantLinea{
    width: 300px;
    position: absolute;
    margin: 0px;
    margin-left: 10px;
    padding-bottom: 5px;
    color: #7867bd;
}
.namePlayer1{
    color: #791111;
}
.namePlayer2{
    color : #296CD1
}
.btn-x-inLine{
    color:white;
}
.cantLinea-ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 20%;
}
.bk-game-image{
    width: 82.5%;
    margin-left: 8.8%;
}
.button-play{
    position: relative;
    left: 47%;
    top: -400px;
    
}
.button-play-play{
    position: relative;
    left: 10%;

}